*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
*.zip
/Lyngua/app/src/main/res/raw/google_translate_api_credentials.json
Lyngua/.idea/compiler.xml
Lyngua/.idea/gradle.xml
Lyngua/.idea/misc.xml
